@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$bg : #0c0a11;
$main : #1d1b23;
$text : #cacaca;

@mixin placeholder-styles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	color: color(placeholder);
}
input::placeholder {
	@include placeholder-styles;
}
input::-webkit-input-placeholder {
	@include placeholder-styles;
}
input::-moz-placeholder {
	@include placeholder-styles;
}
input:-ms-input-placeholder {
	@include placeholder-styles;
}
.styles-container::-webkit-scrollbar {
	display: none;
}
.styles-container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}
h1, h2 {
	text-align: center;
}
html, body, #root {
  	width: 100vw;
	height: 100vh;
	font-family: "Montserrat", Inter, sans-serif;
}
#root {
	background-color: $bg;
	display: grid;
	grid-template-columns: 26% 74%;
	align-items: center;

	.styles-container {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		height: 100%;
		background-color: $main;
		color: $text;
		overflow-y: scroll;
		filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
		
		.search-container {
			position: relative;
			width: 100%;
			height: 2rem;
			margin-top: 1rem;
			margin-bottom: 2rem;

			.search-svg {
				position: absolute;
				left: 0.5rem;
				top: 50%;
				transform: translateY(-50%);
				width: 1.5rem;
			};

			.search-bar {
				width: 100%;
				height: 100%;
				background-color: transparent;
			}
		}
		.styles-picker {
			display: flex;
			flex-direction: column;
			height: calc(100% - 2rem);
			width: 100%;
			height: 100%;
			gap: 2rem;

			.styles-wrapper {
				display: grid;
				grid-template-columns: 3rem 6rem 1fr;
				gap: 2rem;
				width: 95%;
				margin-left: auto;
				margin-right: auto;
				height: 3rem;

				.color-thumb {
					width: 3rem;
					height: 3rem;
					border-radius: 0.5rem;
				}

				input {
					width: 6rem;
					background-color: transparent;
					color: $text;
				}
				p {
					height: fit-content;
					align-self: center;
				}
			}
		}
	}
	.canvas {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		aspect-ratio: 16 / 9;
		background-color: $main;
		font-size: 0.5rem;
		color: $text;

		.menu-bar {
			height: 4%;
			padding-top: 0.5%;
			padding-bottom: 0.5%;
			width: 100%;
			display: flex;
			gap: 2rem;

			.menus {
				margin-left: 0.5rem;
				display: flex;
				gap: 1rem;
			}

			.menu-middle {
				margin-right: auto;
				margin-left: auto;
			}

			.window-modes {
				width: fit-content;
				gap: 1rem;
				height: 100%;
				display: flex;
				margin-right: 1rem;
				margin-left: auto;
			}
		}

		.main-section {
			height: 92%;
			width: 100%;
			display: flex;

			.sidebar-container {
				width: 25%;
				height: 100%;
				display: flex;

				.activity-bar {
					height: 100%;
					width: 16%;
					padding: 3%;
					display: flex;
					flex-direction: column;

					> * {
						margin-bottom: 1rem;
					}

					.activity-other {
						margin-top: auto;
						display: flex;
						flex-direction: column;
						gap: 1rem;
						margin-bottom: 0;
					}
				}

				.sidebar {
					height: 100%;
					width: 84%;
					position: relative;

					.explorer {
						height: 6%;
						width: 100%;
						padding: 4% 1rem 4% 1rem;
						display: flex;
						justify-content: space-between;
					}
					
					.sidebar-tab {
						height: 1.5rem;
						width: 100%;
						display: flex;

						p {
							margin-top: auto;
							margin-bottom: auto;
						}
					}

					.project {
						width: 100%;
						padding-left: 5%;
						padding-right: 5%;

						.files-wrapper {
							height: 1.2rem;
							padding-top: 0.1rem;
							padding-bottom: 0.1rem;
							display: flex;
							gap: 0.5rem;
						}

						.down-root {
							width: 100%;
							height: fit-content;
							margin-left: 2rem;
							display: grid;
							grid-template-columns: 1.2rem 1fr;

							> * {
								padding-top: 0.1rem;
								padding-bottom: 0.1rem;
							}
							p {
								margin-left: 0.5rem;
							}
						}
					}
					
					.sidebar-bottom {
						position: absolute;
						bottom: 0;
					}
				}
			}
			.editor-container {
				width: 75%;
				height: 100%;

				.tabs {
					display: flex;

					.tab {
						display: flex;
						height: 2rem;
						padding: 0.5rem;
					}
				}
				.directive {
					display: flex;
					height: 1.5rem;
					padding-top: 0.25rem;
					padding-bottom: 0.25rem;
				}
				.editor-area {
					display: flex;
					height: 70%;

					.whitespace {
						height: 1rem;
						width: 100%;
					}
					.tab-space {
						margin-left: 1rem;
					}
					.gutter {
						width: 6%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					.editor {
						width: 94%;
						height: 100%;
					}
				}

				.terminal {
					width: 100%;
					height: 20%;
					padding: 1rem;
					
					.terminal-tabs {
						display: flex;
						height: 1rem;
						gap: 1rem;
						margin-bottom: 1rem;

						.terminal-menus {
							display: flex;
							margin-left: auto;
							gap: 1rem;
						}
					}
				}
			}
		}

		.status-bar-wrapper {
			height: 2rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			width: 100%;
			display: flex;

			img {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}

			.status-bar {
				display: flex;
				width: 100%;
				padding-left: 0.5rem;
				height: 100%;
				padding-right: 2%;

				.status-right {
					display: flex;
					gap: 1rem;
					margin-left: auto;
				}
			}
		}
	}
}
.down {
	rotate: 180deg;
}
.right {
	rotate: 90deg;
}
.space {
	width: 1rem;
	height: 1rem;
}