@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$bg : #0c0a11;
$main : #1d1b23;
$text : #cacaca;

@mixin placeholder-styles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	color: color(placeholder);
}
input::placeholder {
	@include placeholder-styles;
}
input::-webkit-input-placeholder {
	@include placeholder-styles;
}
input::-moz-placeholder {
	@include placeholder-styles;
}
input:-ms-input-placeholder {
	@include placeholder-styles;
}
.styles-container::-webkit-scrollbar {
	display: none;
}
.styles-container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}
h1, h2 {
	text-align: center;
}
html, body, #root {
  	width: 100vw;
	height: 100vh;
	font-family: "Montserrat", Inter, sans-serif;
}
#root {
	background-color: $bg;
	display: grid;
	grid-template-columns: 30% 70%;
	padding-left: 2vw;
	padding-right: 2vw;
	align-items: center;

	.styles-container {
		width: 100%;
		height: 90%;
		border-radius: 0.5rem;
		background-color: $main;
		color: $text;
		overflow-y: scroll;
		
		.search-container {
			position: relative;
			width: 100%;
			height: 2rem;
			margin-top: 1rem;
			margin-bottom: 2rem;

			.search-svg {
				position: absolute;
				left: 0.5rem;
				top: 50%;
				transform: translateY(-50%);
				width: 1.5rem;
			};

			.search-bar {
				width: 100%;
				height: 100%;
				background-color: transparent;
			}
		}
		.styles-picker {
			display: flex;
			flex-direction: column;
			height: calc(100% - 2rem);
			width: 100%;
			height: 100%;
			gap: 2rem;

			.styles-wrapper {
				display: grid;
				grid-template-columns: 3rem 6rem 1fr;
				gap: 2rem;
				width: 95%;
				margin-left: auto;
				margin-right: auto;
				height: 3rem;

				.color-thumb {
					width: 3rem;
					height: 3rem;
					border-radius: 0.5rem;
				}

				input {
					width: 6rem;
					background-color: transparent;
					color: $text;
				}
				p {
					height: fit-content;
					align-self: center;
				}
			}
		}
	}
	.canvas {
		margin-left: 5%;
		width: 95%;
		aspect-ratio: 16 / 9;
		background-color: $main;
		font-size: 0.5rem;
		color: $text;

		.menu-bar {
			height: 5%;
			width: 100%;
			display: flex;
			gap: 2rem;

			.menus {
				margin-right: 3rem;

				.vscode-logo {
					width: 1rem;
					height: 100%;
				}

				display: flex;
				gap: 1rem;
			}
		}

		.main-section {
			height: 90%;
			width: 100%;
			display: flex;

			.sidebar-container {
				width: 25%;
				height: 100%;
				display: flex;
			}
			.editor-container {
				width: 75%;
				height: 100%;

				.tabs {
					display: flex;
					height: 6%;
				}
				.directive {
					display: flex;
					height: 4%;
				}
				.editor-area {
					display: flex;
					height: 70%;

					.gutter {
						width: 7%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					.editor {
						width: 93%;
						height: 100%;
					}
				}

				.terminal {
					width: 100%;
					height: 20%;
					
					.terminal-tabs {
						display: flex;
					}
				}
			}
		}

		.status-bar-wrapper {
			height: 5%;
			width: 100%;
			display: flex;

			.remote-window {
				height: 100%;
				width: 2%;
			}

			.status-bar {
				display: flex;
				width: 98%;
				height: 100%;
				padding-right: 2%;

				.status-left {
					display: flex;
					gap: 0.5rem;
				}
				.status-right {
					display: flex;
					gap: 0.5rem;
					margin-left: auto;
				}
			}
		}
	}
}
