@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Montserrat:wght@300;400;500&display=swap');

$bg : #0c0a11;
$main : #1d1b23;
$text : #cacaca;
$preview: #211e26;

@mixin placeholder-styles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	color: color(placeholder);
}
input::placeholder {
	@include placeholder-styles;
}
input::-webkit-input-placeholder {
	@include placeholder-styles;
}
input::-moz-placeholder {
	@include placeholder-styles;
}
input:-ms-input-placeholder {
	@include placeholder-styles;
}
.preview-code::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}
.preview-code::-webkit-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
/* For Firefox */
.preview-code {
	scrollbar-width: thin;
	scrollbar-color: rgb(112, 112, 112) $main;
}
.preview-code::-moz-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
/* For Edge and IE */
.preview-code {
	-ms-overflow-style: none;
	scrollbar-width: thin;
	scrollbar-color: rgb(112, 112, 112) $main;
}
.preview-code::-ms-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
.color-tokens::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}
.color-tokens::-webkit-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
/* For Firefox */
.color-tokens {
	scrollbar-width: thin;
	scrollbar-color: rgb(112, 112, 112) $main;
}
.color-tokens::-moz-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
/* For Edge and IE */
.color-tokens {
	-ms-overflow-style: none;
	scrollbar-width: thin;
	scrollbar-color: rgb(112, 112, 112) $main;
}
.color-tokens::-ms-scrollbar-thumb {
	background-color: rgb(112, 112, 112);
	border-bottom: 0.5rem solid $main;
	border-top: 0.5rem solid $main;
}
:root {
	--text-active: white;
	--text-inactive: white;
}
.svg path, .svg rect {
	fill: var(--text-inactive);
}
.svg-active path, .svg-active rect {
	fill: var(--text-active);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}
h1, h2 {
	text-align: center;
}
html, body, #root {
  	width: 100vw;
	height: 100vh;
	font-family: "Montserrat", Inter, sans-serif;
}
#root {
	background-color: $bg;
	display: grid;
	grid-template-columns: 26% 74%;
	align-items: center;
	position: relative;
	color: $text;

	.styles-container {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		height: 100%;
		background-color: $main;
		filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
		
		.tab-switcher {
			display: grid;
			grid-template-columns: 1fr 1fr;
			text-align: center;
			width: 100%;
			height: 10vh;
			> * {
				width: fit-content;
				height: 2rem;
				margin: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				transition: all 300ms ease-out;
				position: relative;
			}
			> *::after {
				content: '';
				display: block;
				width: 0px;
				height: 2px;
				top: 100%;
				position: absolute;
				background-color: $text;
				transition: all 150ms ease-out;
			}
			> *.opened:after {
				width: 100%;
			}
		}
		.color-tokens {		
			height: 90vh;
			width: 100%;
			overflow-y: scroll;
			
			.hidden {
				display: none;
			}
			> * {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				padding-bottom: 2rem;

				.styles-wrapper {
					display: grid;
					position: relative;
					grid-template-columns: 3rem 1fr;
					grid-gap: 1rem;
					width: 100%;
					height: 3rem;
	
					.thumb {
						width: 100%;
						height: 100%;
						border-radius: 0.5rem;
						padding: 0;
					}
					.text {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						input {
							background-color: transparent;
							color: $text;
							outline: none;
						}
						p {
							height: fit-content;
						}
					}
				}
			}
		}
	}
	.preview-button {
		position: absolute;
		background: transparent;
		top: 1.5rem;
		right: 1.5rem;
		color: $text;
	}
	.none { display: none; }
	.code-preview {
		position: absolute;
		z-index: 99;
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.5);
		width: 74%;
		height: 100%;
		right: 0;

		.preview-container {
			position: absolute;
			top: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
			background-color: $preview;	
			border: solid 2px lighten($preview, 10%);
			z-index: 100;
			border-radius: 1rem;
			overflow: hidden;
			
			.preview-desc {
				display: flex;
				padding: 1rem;
				width: 100%;
				border-bottom: solid 2px lighten($preview, 10%);
				background-color: rgba(0, 0, 0, 0.5);
				align-items: center;
				justify-content: space-between;

				button {
					background: transparent;
					height: 2rem;
					color: $text;

					> * {
						width: 2em;
					}
				};
				button:hover {
					color: lighten($text, 20%);
				}
			}
			.preview-code {
				height: 90%;
				overflow-y: scroll;
			}
		}
	}
	.canvas {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		aspect-ratio: 16 / 9;
		background-color: $main;
		font-size: 0.5rem;
		color: $text;
		font-family: sans-serif;

		.menu-bar {
			height: 4%;
			padding-top: 0.5%;
			padding-bottom: 0.5%;
			width: 100%;
			display: flex;
			gap: 2rem;

			.menus {
				margin-left: 0.5rem;
				display: flex;
				gap: 1rem;
			}

			.menu-middle {
				margin-right: auto;
				margin-left: auto;
			}

			.window-modes {
				display: grid;
				grid-template-columns: 1rem 1rem 1rem;
				grid-gap: 1rem;
				height: 100%;
				margin-right: 1rem;
				margin-left: auto;
			}
		}

		.main-section {
			height: 93%;
			width: 100%;
			display: flex;

			.sidebar-container {
				width: 25%;
				height: 100%;
				display: grid;
				grid-template-columns: 2.5rem 1fr;

				.activity-bar {
					height: 100%;
					width: 100%;
					display: flex;
					flex-direction: column;

					> *:not(.activity-other) {
						width: 2.5rem;
						height: 2.5rem;
						padding: 0.5rem;
					}
					.svg-active {
						border-left: solid 3px var(--text-active);
					}
					.branch {
						position: relative;
						
						.badge {
							position: absolute;
							border-radius: 999px;
							left: 40%;
							top: 60%;
							height: 1rem;
							width: 1rem;
							display: flex;
							justify-content: center;
						}
					}
					.activity-other {
						margin-top: auto;

						> * {
							width: 2.5rem;
							height: 2.5rem;
							padding: 0.5rem;
						}
					}
				}

				.sidebar {
					height: 100%;
					width: 100%;
					position: relative;

					.explorer {
						height: 2rem;
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-left: 1rem;
						padding-right: 1rem;

						> * {
							width: 1.5rem;
						}
					}
					
					.sidebar-tab {
						height: 1.5rem;
						width: 100%;
						display: flex;
						align-items: center;

						div { width: 1rem }
						p {
							margin-top: auto;
							margin-bottom: auto;
						}
					}

					.project {
						width: 100%;
						padding-left: 5%;
						padding-right: 5%;

						.files-wrapper {
							height: 1.2rem;
							padding-top: 0.1rem;
							padding-bottom: 0.1rem;
							display: flex;
							gap: 0.5rem;
							div { width: 1rem };
						}

						.down-root {
							width: 100%;
							height: fit-content;
							margin-left: 2rem;
							display: grid;
							grid-template-columns: 1.2rem 1fr;

							> * {
								padding-top: 0.1rem;
								padding-bottom: 0.1rem;
							}
							p {
								margin-left: 0.5rem;
							}
						}
					}
					
					.sidebar-bottom {
						position: absolute;
						bottom: 0;
					}
				}
			}
			.editor-container {
				width: 75%;
				height: 100%;
				display: grid;
				grid-template-rows: 6% 4% 70% 20%;

				.tabs {
					display: flex;

					.tab {
						display: flex;
						height: 100%;
						gap: 0.5rem;
						align-items: center;
						padding-left: 0.5rem;
						padding-right: 0.5rem;

						div {
							width: 1rem;
						}
					}
				}
				.directive {
					display: flex;
					height: 100%;
					align-items: center;
					gap: 0.2rem;
					div { width: 1rem };
				}
				.editor-area {
					display: flex;
					height: 100%;
					font-family: "Fragment Mono";
					overflow: hidden;

					.whitespace {
						height: 1rem;
						width: 100%;
					}
					.tab-space {
						margin-left: 1rem;
					}
					.gutter {
						width: 6%;
						height: 100%;
						display: grid;
						justify-items: center;
						justify-content: center;
						grid-template-columns: 1rem;
						grid-template-rows: repeat(auto-fill, 1rem);
						text-align: right;
						overflow: hidden;

					}
					.editor {
						width: 94%;
						height: 100%;
						
						p {
							height: 1rem;
						}
					}
				}

				.terminal {
					width: 100%;
					height: 100%;
					padding: 1rem;
					
					.terminal-tabs {
						display: flex;
						height: 1rem;
						gap: 1rem;
						margin-bottom: 1rem;

						> * {
							padding-bottom: 1.2rem;
						}
						.terminal-menus {
							display: flex;
							align-items: center;
							margin-left: auto;
							gap: 0.5rem;
							div { width: 1rem };
						}
					}
				}
			}
		}

		.status-bar-wrapper {
			height: 3%;
			width: 100%;
			display: flex;

			.remote {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
				padding-top: 0.1rem;
				height: 100%;
				width: 2rem;
			}

			.status-bar {
				display: flex;
				align-items: center;
				gap: 0.3rem;
				height: 100%;
				width: 100%;
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				.oneRem {
					width: 1rem;
					margin-bottom: 0.3rem;
				}

				.status-right {
					display: flex;
					gap: 1rem;
					margin-left: auto;
				}
			}
		}
	}
}
.down {
	rotate: 180deg;
}
.right {
	rotate: 90deg;
}
.rotate {
	rotate : 180deg;
	transform : scaleX(-1);
}
.space {
	width: 1rem;
	height: 1rem;
}
.active-line { display: flex; };
.punctuation {
	color: var(--punctuation);
}
.fns-classes {
	color: var(--fns-classes);
}
.keywords {
	color: var(--keywords);
}
.strings {
	color: var(--strings);
}
.operators {
	color: var(--operators);
}